[submodule "quorum"]
	path = quorum
	url = https://github.com/StorecoinProject/quorum.git
[submodule "quorum-examples"]
	path = quorum-examples
	url = https://github.com/StorecoinProject/quorum-examples.git
[submodule "ethereum-examples"]
	path = ethereum-examples
	url = https://github.com/StorecoinProject/ethereum-examples.git
